<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss} | LEVEL: %-5level | CLASS: %logger{36} | %msg%n"/>

    <springProperty scope="context" name="LOG_PATH" source="logging.file.path" defaultValue="S:/log"/>
    <springProperty scope="context" name="LOG_FILE_NAME" source="logging.file.name" defaultValue="log"/>
    <springProperty scope="context" name="LOG_HISTORY" source="logging.history.file.path" defaultValue="S:/log/history"/>

    <property name="LOG_FILE" value="${LOG_PATH}/${LOG_FILE_NAME}.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HISTORY}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <!--    <springProfile name="mysql">-->
    <!--        <root level="debug">-->
    <!--            <appender-ref ref="CONSOLE"/>-->
    <!--            <appender-ref ref="FILE"/>-->
    <!--        </root>-->
    <!--    </springProfile>-->
</configuration>
